#textdomain wesnoth-utbsc
[unit_type]
    id=Desert Star
    name= _ "female^Desert Star"
    race=elf
    gender=female
    image=units/elves-desert/star.png
    halo=halo/illuminates-aura.png
    hitpoints=46
    movement_type=desert_float
    [resistance]
        blade=90
        pierce=90
        arcane=70
        impact=90
        cold=90
        fire=90
    [/resistance]
    movement=6
    experience=200
    level=4
    alignment=lawful
    advances_to=null
    {AMLA_DEFAULT}

    [abilities]
        {ABILITY_ILLUMINATES}
        {UTBS_ABILITY_CURES}
    [/abilities]
    cost=94
    usage=healer
    description= _ "Desert Stars are Shydes that have becomes so powerful and holy that they shine forth the light of Eloh, even in the darkest places. They are living testaments to the power and glory of Eloh. Like Shydes, they are capable of gliding unencumbered across almost any terrain. Eloh’s power also reduces the wounds that Desert Stars suffer when attacked."
    [special_note]
        note=_"It also gains a 10% bonus to resistance from all attacks."
    [/special_note]
    die_sound={SOUND_LIST:ELF_FEMALE_HIT}
    [attack]
        name=faerie touch
        description= _"faerie touch"
        type=impact
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        range=melee
        damage=5
        number=2
        range=melee
        icon=attacks/touch-faerie.png
    [/attack]
    [attack]
        name=ensnare
        description= _"ensnare"
        type=impact
        [specials]
            {WEAPON_SPECIAL_SLOW}
        [/specials]
        damage=7
        number=2
        range=ranged
        icon=attacks/entangle.png
    [/attack]
    [attack]
        name=thorns
        description= _"thorns"
        type=pierce
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        damage=7
        number=3
        range=ranged
    [/attack]
    {DEFENSE_ANIM_RANGE units/elves-desert/star.png units/elves-desert/star.png {SOUND_LIST:ELF_FEMALE_HIT} melee }
    {DEFENSE_ANIM_ELVEN_RANGE units/elves-desert/star.png units/elves-desert/star.png {SOUND_LIST:ELF_FEMALE_HIT} ranged }
    [healing_anim]
        start_time=-200
        [frame]
            image=units/elves-desert/star.png
            halo="halo/elven/druid-healing[1~8].png"
        [/frame]
    [/healing_anim]
    [attack_anim]
        [filter_attack]
            name=thorns
        [/filter_attack]
        missile_start_time=-200
        [missile_frame]
            duration=200
            image="projectiles/thorns.png"
            image_diagonal="projectiles/thorns-ne.png"
        [/missile_frame]
        start_time=-250
        [frame]
            image=units/elves-desert/star.png
            halo=halo/elven/nature-halo[1~8].png:75
            halo_x,halo_y=0,-12
        [/frame]
        {SOUND:HIT_AND_MISS magic-thorns-[1,2].ogg magic-thorns-miss-[1,2].ogg 125}
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=ensnare
        [/filter_attack]
        missile_start_time=-200
        [missile_frame]
            offset=1.0
            duration=150
            image="projectiles/entangle.png"
            image_diagonal="projectiles/entangle.png"
        [/missile_frame]
        start_time=-450
        [frame]
            image=units/elves-desert/star.png
            halo=halo/elven/nature-halo[1~8].png:75
            halo_x,halo_y=0,-12
        [/frame]
        attack_sound_start_time=-75
        [attack_sound_frame]
            sound=entangle.wav
        [/attack_sound_frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=faerie touch
        [/filter_attack]
        start_time=-200
        [frame]
            image=units/elves-desert/star.png:200
        [/frame]
    [/attack_anim]
[/unit_type]
